.stepper {
  /* --branch-color: #666;
  --node-background: #ebf0f4; /* racket azure */
  --text-grey: #444; /* like in scribble */
  --hole-yellow: #fdf68d; /* pale yellow */
  /* --highlight-border-connectors: lime;
  --wrong-background: red;
  --correct-background: lime;
  --hole-selection-background: white; */
}
div.stepper {
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size: 1.2em;
}
/* .eval-step{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
    max-width: 1200px;
    margin: 2vh auto;
} */
.stepper .program-wrapper{
margin:2vw;
padding: 1vh 2vw;
font-size: 1.1em;
font-weight: 600;
border: 1px solid #000;
}
.stepper .program-overview{
    display: flex;
    flex-direction: column;
    margin: 1vh auto;
}
.stepper .step {
  margin-bottom: 0.5em;
}
.stepper .split-result, .stepper .plug-result {
  font-family: 'Fira Sans', monospace;
  color: var(--text-grey);
}
.stepper .split-result {
  margin-bottom: 1.75em;
}
.stepper .hole {
  display: inline-block;
  background-color: var(--hole-yellow);
  border: 1px solid var(--text-grey);
  color: var(--text-grey);
  padding-left: 0.25em;
  padding-right: 0.25em;
  position: relative;
}
.stepper .rule {
  display: block;
  position: absolute;
  left: 0;
  top: 120%;
  border-left: 2px solid var(--text-grey);
  padding-left: .5em;
  width: 200%; /* todo */
}
/* arrow head */
.stepper .rule::after {
  position: absolute;
  content: '';
  left: -0.35em; /* ca. sqrt(2)/2 * 0.5em */
  bottom: 0;
  width: 0.5em;
  height: 0.5em;
  border-right: 2px solid var(--text-grey);
  border-bottom: 2px solid var(--text-grey);
  transform: rotate(45deg);
}

/* .step-result{
}

[visible="false"]{
    display: none;
}

[visible="true"]{
    display: block;
}

.split-rule-plug{
    display: flex;
    flex-direction: row;
    max-width:1200px;
    margin: 2vh auto;
    padding: 1vw;
    border: 1px solid #000;
}
.split,.rule,.plug{
    padding: 0 1.3vw;
    margin:0 1.2vw;
}
pre{
    margin: 1vh 0 3vh 0;
    font-size: 1.1em;
} */

.step-button{
    padding: 2vw;
    font-size:1.1em;
}
