stepper{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size: 1.2em;
}
/* .eval-step{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
    max-width: 1200px;
    margin: 2vh auto;
} */
.program-wrapper{
margin:2vw;
padding: 1vh 2vw; 
font-size: 1.1em;
font-weight: 600;
border: 1px solid #000;
}
.program-overview{
    display: flex;
    flex-direction: column;
    margin: 1vh auto;
}

.step-result{
}

[visible="false"]{
    display: none;
}

[visible="true"]{
    display: block;
}

.split-rule-plug{
    display: flex;
    flex-direction: row;
    max-width:1200px;
    margin: 2vh auto;
    padding: 1vw;
    border: 1px solid #000;
}
.split,.rule,.plug{
    padding: 0 1.3vw;
    margin:0 1.2vw;
}
pre{
    margin: 1vh 0 3vh 0;
    font-size: 1.1em;
}

.step-button{
    padding: 2vw;
    font-size:1.1em;
}