/* ######### colors ####### */
.bsl-tools-stepper {
  /* --branch-color: #666; */
  --box-background: #ebf0f4; /* racket azure */
  --box-border: #0d3657;
  --button-border: #0d3657;
  --text-grey: #444; /* like in scribble */
  --hole-yellow: #fdf68d; /* pale yellow */
  --hole-green: lightgreen;
  --hole-red: lightpink;
  --font-family-monospace: 'Fira Sans', monospace;
  --font-family-rule-description: Palatino, Georgia, "Times New Roman", serif;
}
/* ####### general layout ####### */
div.bsl-tools-stepper {
  text-align: center;
  box-sizing: border-box;
}
/* ##### boxes ###### */
.bsl-tools-stepper .box {
  text-align: left;
  background-color: var(--box-background);
  padding: 0.5em;
  padding-top: 1em;
  border: 1px solid var(--box-border);
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 1.5em;
}
.bsl-tools-stepper .boxlabel {
  position: absolute;
  top: -1em;
  left: 0.5em;
  padding: 0.25em;
  border: 0px solid transparent;
  border-radius: 0.25em;
  background-color: var(--box-background);
  color: var(--box-border);

}
/* single step */
.bsl-tools-stepper .step {
  margin-bottom: 0.5em;
  position: relative;
  background-color: white;
  padding: 0.5em;
}

/* ####### buttons ###### */
.bsl-tools-stepper .step[data-currentStep="true"] {
  padding-top: 1.5em;
  margin-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;

}
.bsl-tools-stepper .prev-button, .bsl-tools-stepper .next-button {
  display: none;
}
.bsl-tools-stepper [data-currentStep="true"] .prev-button,
.bsl-tools-stepper [data-currentStep="true"] .next-button {
  position: absolute;
  display: inline-block;
  right: 2em;
  padding: 0.5em;
  border: 1px solid var(--button-border);
  background-color: white;
  border-radius: 0.25em;
}
.bsl-tools-stepper .prev-button:hover, .bsl-tools-stepper .next-button:hover {
  cursor: pointer;
}
.bsl-tools-stepper .prev-button {
  top: -1em;
}
/* second child because of box label */
.bsl-tools-stepper .step:nth-child(2) .prev-button {
  top: -3.5em;
}
.bsl-tools-stepper .step:nth-child(2) .prev-button::after {
  content: ' (PROG)';
}
.bsl-tools-stepper .next-button {
  bottom: -1.25em;
}
.bsl-tools-stepper .step:last-child .next-button {
  bottom: -3.25em;
}
.bsl-tools-stepper .step:last-child .next-button::after {
  content: ' (PROG)';
}
.bsl-tools-stepper .step:last-child .info-toggle {
  position: absolute;
  right: 0;
  bottom: -4em;
  margin: 0;
  background-color: white;
}
.bsl-tools-stepper .icon {
  display: inline-block;
  height: 1em;
}
.bsl-tools-stepper .split-result .icon {
  opacity: 70%;
}
.bsl-tools-stepper [data-visible="false"] {
  display: none;
}

/* ######### code and rules ####### */
.bsl-tools-stepper .code {
  font-family: var(--font-family-monospace, monospace);
  color: var(--text-grey);
}
.bsl-tools-stepper .plug-result {
  position: relative;
  z-index: 2;
}
.bsl-tools-stepper .hole {
  display: inline-block;
  background-color: var(--hole-yellow);
  /* border: 1px solid var(--text-grey); */
  color: var(--text-grey);
  padding-left: 0.25em;
  padding-right: 0.25em;
  position: relative;
}
.bsl-tools-stepper .hole-result {
  background-color: var(--hole-green);
}
.bsl-tools-stepper .hole-result.rule-hole {
  padding: 0;
}
.bsl-tools-stepper .hole-error {
  background-color: var(--hole-red);
}
.bsl-tools-stepper .rule {
  display: inline-block;
  position: relative;
  padding-left: .5em;
  width: fit-content;
  white-space: nowrap;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.bsl-tools-stepper .kong {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0;
  background-color: rgba(255,255,255,0.5);
}
.bsl-tools-stepper .one-rule {
  margin-left: var(--one-rule-margin-left, 4em);
}
.bsl-tools-stepper .rule-description {
  font-family: var(--font-family-monospace, monospace);
}

/* arrow body */
.bsl-tools-stepper .left-arrowed::before {
  position: absolute;
  content: '';
  left: 0;
  top: -0.5em;
  height: 2.5em;
  border-left: 2px solid var(--text-grey);
  z-index: -1;
}
.bsl-tools-stepper .kong::before {
  left: 0.35em;
  border-left: 2px dotted var(--text-grey);
}

/* arrow head */
.bsl-tools-stepper .left-arrowed::after {
  position: absolute;
  content: '';
  left: calc(2px - 0.35em); /*-0.35em; /* ca. sqrt(2)/2 * 0.5em */
  top: 1.5em;
  width: 0.5em;
  height: 0.5em;
  border-right: 2px solid var(--text-grey);
  border-bottom: 2px solid var(--text-grey);
  transform: rotate(45deg);
}
.bsl-tools-stepper .kong::after {
  left: 2px;
}
/* rule info */
.bsl-tools-stepper .info-toggle {
  margin-top: 1em;
  margin-bottom: 1.5em;
  margin-left: 0.5em;
  float: right;
}
.bsl-tools-stepper .info-toggle:hover {
  cursor: pointer;
}
.bsl-tools-stepper .rule-info {
  padding: 0.5em;
}
.bsl-tools-stepper .rule-info-rule-text {
  font-family: var(--font-family-rule-description, serif);
}
.bsl-tools-stepper .rule-info-rule-text small {
  vertical-align: sub;
}
.bsl-tools-stepper cap {
  font-variant-caps: small-caps;
}
.bsl-tools-stepper .rule-info-rule-name {
  position: absolute;
  left: -6em;
  top: 0;
}
.bsl-tools-stepper .rule-info-text-container {
  position: relative;
  margin-left: 6em;
  margin-bottom: 1em;
}

/* ##### showing and hiding stuff #### */
/* hide steps that are not yet reached */
.bsl-tools-stepper .step[data-currentStep="true"] ~ .step {
  display: none;
}
/* collapsing and expanding steps */
.bsl-tools-stepper .step[data-collapsed="true"] .plug-result {
  display: none;
}
.bsl-tools-stepper .expander, .bsl-tools-stepper .collapser {
  padding-left: 0.25em;
  padding-right: 0.25em;
  float: right;
}
.bsl-tools-stepper .expander:hover, .bsl-tools-stepper .collapser:hover {
  cursor: pointer;
}
.bsl-tools-stepper .step[data-collapsed="true"] .collapser {
  display: none;
}
.bsl-tools-stepper .step[data-collapsed="false"] .expander {
  display: none;
}
/* collapsing and expanding info about the rules */
.bsl-tools-stepper .plug-result[data-info-collapsed="true"] .rule-info,
.bsl-tools-stepper .plug-result[data-info-collapsed="true"] .info-collapse {
  display: none;
}
.bsl-tools-stepper .plug-result[data-info-collapsed="false"] .info-expand {
  display: none;
}
