/* modifications for tree quiz */
/* bsltree[quiz="true"] .tree {
  --border-pending: orange;
  --tooltip-bg: var(--hole-yellow);
  --tooltip-border: var(--branch-color);
  --wrong-border: darkred;
  --correct-border: darkgreen;
  --selection-tentative: yellow;
  --selection-border: var(--branch-color);
  --selection-correct: green;
  --selection-wrong: red;
}
bsltree[quiz="true"] .tree {
  margin-top: 4em;
}
bsltree[quiz="true"] .tree span {
  cursor: auto;
  border: 1px solid var(--correct-border);
}
bsltree[quiz="true"] .tree span[data-collapsed="true"] {
  border: 1px solid var(--border-pending);
}
bsltree[quiz="true"] .tree span[data-wrong="true"] {
  border: 1px solid var(--wrong-border);
} */

/* ######### style production and select */
/* bsltree[quiz="true"] .tree .name {
  font-size: inherit;
}

bsltree[quiz="true"] .tree .name {
  position: relative;
  display: block;
  text-align: left;
}

bsltree[quiz="true"] .tree .name > select {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */

/* ############ hide name tooltip by default */
/* bsltree[quiz="true"] .tree .tip {
  display: none;
} */

/* ############# display tooltip over root */
/* bsltree[quiz="true"] .tree > li > span[data-quiz="production"] .name > .tip,
bsltree[quiz="true"] .tree > li > span[data-quiz="holes"] .codeblock > .tip {
  display: block;
  position: absolute;
  left: 80%;
  bottom: 150%;
  width: 18em;
  background-color: var(--tooltip-bg);
  border: 1px solid var(--tooltip-border);
  padding: .5em;
}
bsltree[quiz="true"] .tree > li > span[data-quiz="production"] .name > .tip::after,
bsltree[quiz="true"] .tree > li > span[data-quiz="holes"] .codeblock > .tip::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0.5em;
  bottom: calc(-0.5em - 1px);
  transform: rotate(45deg);
  background-color: var(--tooltip-bg);
  border-right: 1px solid var(--tooltip-border);
  border-bottom: 1px solid var(--tooltip-border);
} */

/* ########## showing/hiding code without holes */
/* bsltree[quiz="true"] .tree .codeblock {
  position: relative;
  display: block;
}
bsltree[quiz="true"] .tree .actualcode {
  display: none;
}
bsltree[quiz="true"] .tree span[data-quiz="production"] .actualcode,
bsltree[quiz="true"] .tree span[data-quiz="holes"] .actualcode {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--node-background);
}

bsltree[quiz="true"] .tree .selection-start {
  background-color: var(--selection-tentative);
  border: 1px solid var(--selection-border);
  border-right: none;
}
bsltree[quiz="true"] .tree .selection-start ~ span {
  background-color: var(--selection-tentative);
  border-top: 1px solid var(--selection-border);
  border-bottom: 1px solid var(--selection-border);
}

bsltree[quiz="true"] .tree .selection-end {
  border: 1px solid var(--selection-border);
  border-left: none;
}
bsltree[quiz="true"] .tree .selection-end ~ span {
  border: none;
  background-color: transparent;
}

bsltree[quiz="true"] .tree .correct-selection-start,
bsltree[quiz="true"] .tree .correct-selection-middle,
bsltree[quiz="true"] .tree .correct-selection-end {
  user-select: none;
  background-color: var(--selection-correct);
  border: 1px solid var(--selection-border);
}
bsltree[quiz="true"] .tree .wrong-selection-start,
bsltree[quiz="true"] .tree .wrong-selection-middle,
bsltree[quiz="true"] .tree .wrong-selection-end {
  user-select: none;
  background-color: var(--selection-wrong);
  border: 1px solid var(--selection-border);
}

bsltree[quiz="true"] .tree .correct-selection-start,
bsltree[quiz="true"] .tree .correct-selection-middle,
bsltree[quiz="true"] .tree .wrong-selection-start,
bsltree[quiz="true"] .tree .wrong-selection-middle, {
  border-right: none;
}

bsltree[quiz="true"] .tree .correct-selection-end,
bsltree[quiz="true"] .tree .correct-selection-middle,
bsltree[quiz="true"] .tree .wrong-selection-end,
bsltree[quiz="true"] .tree .wrong-selection-middle, {
  border-left: none;
} */
