/* modifications for tree quiz */
bsl-tree[quiz="true"] .tree {
  --border-pending: orange;
  --tooltip-bg: var(--hole-yellow);
  --tooltip-border: var(--branch-color);
  --wrong-border: darkred;
  --correct-border: darkgreen;
}
bsl-tree[quiz="true"] .tree {
  margin-top: 4em;
}
bsl-tree[quiz="true"] .tree span {
  cursor: auto;
  border: 1px solid var(--correct-border);
}
bsl-tree[quiz="true"] .tree span[data-collapsed="true"] {
  border: 1px solid var(--border-pending);
}
bsl-tree[quiz="true"] .tree span[data-wrong="true"] {
  border: 1px solid var(--wrong-border);
}

/* style production and select */
bsl-tree[quiz="true"] .tree .name {
  font-size: inherit;
}

bsl-tree[quiz="true"] .tree .name {
  position: relative;
  display: block;
  text-align: left;
}

bsl-tree[quiz="true"] .tree .name > select {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* hide name tooltip by default */
bsl-tree[quiz="true"] .tree .name > .tip {
  display: none;
}

/* display tooltip over root */
bsl-tree[quiz="true"] .tree > li > span[data-collapsed="true"] .name > .tip {
  display: block;
  position: absolute;
  left: 80%;
  bottom: 150%;
  width: 18em;
  background-color: var(--tooltip-bg);
  border: 1px solid var(--tooltip-border);
  padding: .5em;
}
bsl-tree[quiz="true"] .tree > li > span[data-collapsed="true"] .name > .tip::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0.5em;
  bottom: calc(-0.5em - 1px);
  transform: rotate(45deg);
  background-color: var(--tooltip-bg);
  border-right: 1px solid var(--tooltip-border);
  border-bottom: 1px solid var(--tooltip-border);
}
